@use 'variables' as *;

.CreateTodoButton {
    // border: 2px solid red;
    cursor: pointer;
    height: 70px;
    width: 100%;
    background: #BB86FC;
    color: #FAFAFA;
    border: none;
    font-size: 40px;
    font-weight: 800;
    position: fixed;
    bottom: 0;
    &:hover {
        background: #976dcb;
    }
}