@use 'variables' as *;

.CreateTodoButton {
    // border: 1px solid red;
    cursor: pointer;
    height: 65px;
    width: 100%;
    background: $plusButton;
    color: $White;
    border: none;
    font-size: 40px;
    font-weight: 900;
    position: sticky;
    bottom: 0;
    &:hover {
        background: #976dcb;
    }
}